@import url('https://fonts.googleapis.com/css?family=Quattrocento|Varela" rel="stylesheet');

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Varela', sans-serif;
  font-weight: 300;
}

strong, b{
  font-weight: 400;
}

h2{
    font-size: 20px;
  font-weight: 300;
  text-shadow:1px 1px 0 #222;
}

h1{
    font-size: 200px;
  font-weight: 300;
  text-shadow:1px 1px 0 #222;
}


h3,h4,h5,h6{
font-size: 50px; 
    background-color: black;
    font-family:cursive
    font-weight: 400;
    color: red
        
  
        
}
   

    

p{
  font-weight: 400;
    background-color: black;
    color: red
        
}






#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

#mainNav .navbar-toggler {
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #FF0000 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255,255,255,0.5);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: rgba(255,255,255,1);
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #FF0000;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #FF0000;
  }
}

header {
  position: relative;
  width: 100%;
  height:100vh;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("img/jp.png");
  background-size:cover;
  background-position: center center;
}


body {
  position: relative;
  width: 100%;
  height:100vh;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 1%), url("img/fondojapo.jpg");
  background-size:cover;
  background-position: center bottom;
    
    
}




header .col{
  padding-top:300px;
}

section {
  padding: 100px 0;
}

footer {
  padding: 3rem 0 2rem 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(7, 8, 12,1);
  letter-spacing:1px;  
}

footer a{
  color:rgba(255,255,255,1);
}

div[class^="dataviz-"]{
  overflow-x:hidden;
}